.btn{
    background-color: #222;
    color: #FFF;
    padding: 0.7em 1.2em; /*cima baixo | laterais*/
    text-decoration: none;
    transition: .5s;
    cursor: pointer; /*estilo ponteiro*/
    border: none;
}

.btn:hover{
    color: #ffbb33;
}