.btn{
    background-color: #222;
    color: #FFF;
    padding: 0.5em 1em; /*espaçamento horizontal e vertical*/
    text-decoration: none; /*tirando o _*/
    transition: 0.5s; /*houver de 0.5 segundos*/
}


.btn:houver{
    color: #ffbb33;
}